# 1) Count number of lines (sample)

In [1]:
! bzcat data/bookings.csv.bz2 | head -10000 > data/bookings.sample.csv

bzcat: I/O or other error, bailing out.  Possible reason follows.
bzcat: Broken pipe
	Input file = data/bookings.csv.bz2, output file = (stdout)

In [6]:
! bzip2 -f data/bookings.sample.csv

In [7]:
! bzcat data/bookings.sample.csv.bz2 | wc -l

10000

In [8]:
# Otra forma, importando libreria bz2

In [9]:
import bz2

In [10]:
fileBz2 = bz2.BZ2File('data/bookings.sample.csv.bz2')
k = 0
for line in fileBz2:
    k += 1
print(k)

10000

In [11]:
fileBz2.closed

False

In [12]:
fileBz2.close()

In [13]:
fileBz2.closed

True

In [14]:
# Otra forma, para que el fichero se cierre automaticamente

In [16]:
with bz2.BZ2File('data/bookings.sample.csv.bz2') as fileBz2:
    k = 0
    for line in fileBz2:
        k += 1
    print(k)

10000

In [17]:
fileBz2.closed

True

In [17]:
# Otra forma, para lanzar errores y que no se pare ejecucion

In [18]:
import bz2
try:
    with bz2.BZ2File('data/bookings.sample.csv.bz2') as fileBz2:
        k = 0
        for line in fileBz2:
            k += 1
        print(k)
except:
    print('unexpected error')

10000

In [19]:
import bz2
try:
    with bz2.BZ2File('data/bookings.sample.csv.bz2') as fileBz2:
        k = 0
        for line in fileBz2:
            k += 1
        print(k)
except FileNotFoundError:
    print('File not found')
except:
    print('unexpected error')

10000

In [20]:
import bz2
try:
    with bz2.BZ2File('data/bookinfffgs.sample.csv.bz2') as fileBz2:
        k = 0
        for line in fileBz2:
            k += 1
        print(k)
except FileNotFoundError as message:
    print(message)
except ValueError:
    print('value error')
except:
    print('unexpected error')

[Errno 2] No such file or directory: 'data/bookinfffgs.sample.csv.bz2'

In [21]:
# Con enumerate

In [22]:
import bz2
try:
    with bz2.BZ2File('data/bookings.sample.csv.bz2') as fileBz2:
        for k, line in enumerate(fileBz2):
            pass
        print(k+1)
except FileNotFoundError as message:
    print(message)
except ValueError:
    print('value error')
except:
    print('unexpected error')

10000

In [ ]:
# Con pandas

In [25]:
import pandas as pd

In [26]:
! bzcat data/bookings.sample.csv.bz2 | head -1 | tr ^ '\n'

act_date
source
pos_ctry
pos_iata
pos_oid
rloc
cre_date
duration
distance
dep_port
dep_city
dep_ctry
arr_port
arr_city
arr_ctry
lst_port
lst_city
lst_ctry
brd_port
brd_city
brd_ctry
off_port
off_city
off_ctry
mkt_port
mkt_city
mkt_ctry
intl
route
carrier
bkg_class
cab_class
brd_time
off_time
pax
year
month
oid

bzcat: I/O or other error, bailing out.  Possible reason follows.
bzcat: Broken pipe
	Input file = data/bookings.sample.csv.bz2, output file = (stdout)

In [28]:
df = pd.read_csv('data/bookings.sample.csv.bz2', sep='^', usecols=['pax'])

In [29]:
df.shape, len(df)

((9999, 1), 9999)

# 2) Top 10 arrival airports from bookings

In [11]:
# Get familiar with data

In [30]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [32]:
b = pd.read_csv('data/bookings.sample.csv.bz2', sep='^')

In [25]:
b.shape

(9999, 38)

In [33]:
b.head()

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,dep_city,dep_ctry,arr_port,arr_city,arr_ctry,lst_port,lst_city,lst_ctry,brd_port,brd_city,brd_ctry,off_port,off_city,off_ctry,mkt_port,mkt_city,mkt_ctry,intl,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,ZRH,CH,LHR,LON,GB,ZRH,ZRH,CH,LHR,LON,GB,ZRH,ZRH,CH,LHRZRH,LONZRH,CHGB,1,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,SAL,SV,CLT,CLT,US,SAL,SAL,SV,SAL,SAL,SV,CLT,CLT,US,CLTSAL,CLTSAL,SVUS,1,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1,2013,3,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,SAL,SV,CLT,CLT,US,SAL,SAL,SV,CLT,CLT,US,SAL,SAL,SV,CLTSAL,CLTSAL,SVUS,1,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1,2013,3,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,AKL,NZ,SVO,MOW,RU,AKL,AKL,NZ,AKL,AKL,NZ,SVO,MOW,RU,AKLSVO,AKLMOW,NZRU,1,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1,2013,3,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,AKL,NZ,SVO,MOW,RU,AKL,AKL,NZ,SVO,MOW,RU,AKL,AKL,NZ,AKLSVO,AKLMOW,NZRU,1,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1,2013,3,SYDA82546

In [34]:
b.sample(5)

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,dep_city,dep_ctry,arr_port,arr_city,arr_ctry,lst_port,lst_city,lst_ctry,brd_port,brd_city,brd_ctry,off_port,off_city,off_ctry,mkt_port,mkt_city,mkt_ctry,intl,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
9141,2013-03-20 00:00:00,1P,US,83ccf07a55606976f78e63fcc805f58c,1490c3c5f95f04fa076fe15c775a80a9,5716ae8b910f1f7a42518fb36740cf14,2013-03-20 00:00:00,1988,0,HPN,HPN,US,DFW,DFW,US,HPN,HPN,US,DFW,DFW,US,HPN,HPN,US,DFWHPN,DFWHPN,USUS,0,DFWORDHPN,FK,N,Y,2013-04-26 09:49:00,2013-04-26 16:43:35,3,2013,3,NULL
3992,2013-03-02 00:00:00,1P,US,1a3e13638d0cd77fcba45cfc8a7cf8bf,0e088a03b2d39ea4d711e565b0245086,c66d2c3e5b2934e92a855d45ff54b380,2013-02-26 00:00:00,14286,0,LAX,LAX,US,MNL,MNL,PH,LAX,LAX,US,MNL,MNL,PH,LAX,LAX,US,LAXMNL,LAXMNL,PHUS,1,MNLLAX,AC,T,Y,2013-04-17 09:30:00,2013-04-17 09:06:11,-1,2013,3,NULL
7551,2013-03-12 00:00:00,1S,US,420d4fc652f4b3c826765f483f22226b,cbb4b2090c7e4e215e624e3a29b789ca,45baf5ecb26fcfa99391169711d81fa2,2013-03-12 00:00:00,10425,0,BCN,BCN,ES,BHX,BHX,GB,BCN,BCN,ES,BCN,BCN,ES,BHX,BHX,GB,BCNBHX,BCNBHX,ESGB,1,BCNAMSBHX,UV,N,Y,2013-06-15 13:15:00,2013-06-15 16:39:11,1,2013,3,NULL
8830,2013-03-17 00:00:00,1V,US,f6180dd2849b049248b02cffb35acc38,7c1acd9c271260c8370f9da111e90af4,d8931164729dafa980b3162d0eb422cf,2013-03-07 00:00:00,4025,0,SVO,MOW,RU,BRU,BRU,BE,SVO,MOW,RU,SVO,MOW,RU,BRU,BRU,BE,BRUSVO,BRUMOW,BERU,1,SVOBRU,DF,B,Y,2013-03-18 11:15:00,2013-03-18 11:40:17,-1,2013,3,NULL
9702,2013-03-27 00:00:00,1A,US,54a9a4fecc0dc7119aaffe82e98d071d,3561a60621de06ab1badc8ca55699ef3,f1d16b269201727026c6daf852fa4c0b,2013-03-27 00:00:00,9715,0,OMA,OMA,US,OAK,OAK,US,OMA,OMA,US,OAK,OAK,US,OMA,OMA,US,OAKOMA,OAKOMA,USUS,0,OAKPHXOMA,FD,K,Y,2013-04-22 16:10:00,2013-04-22 23:35:37,2,2013,3,NYC1S21DD

In [35]:
# Pero con esto no vemos todas las columnas. Hay que usar otra opcion de pandas.
# Asi que anadimos una opcion al principio, para que el default de col max sea None

In [36]:
b.groupby('rloc')['act_date'].count().sort_values(ascending=False)

KeyError: 'rloc'

In [37]:
list(b.columns)

['act_date           ',
 'source',
 'pos_ctry',
 'pos_iata',
 'pos_oid  ',
 'rloc          ',
 'cre_date           ',
 'duration',
 'distance',
 'dep_port',
 'dep_city',
 'dep_ctry',
 'arr_port',
 'arr_city',
 'arr_ctry',
 'lst_port',
 'lst_city',
 'lst_ctry',
 'brd_port',
 'brd_city',
 'brd_ctry',
 'off_port',
 'off_city',
 'off_ctry',
 'mkt_port',
 'mkt_city',
 'mkt_ctry',
 'intl',
 'route          ',
 'carrier',
 'bkg_class',
 'cab_class',
 'brd_time           ',
 'off_time           ',
 'pax',
 'year',
 'month',
 'oid      ']

In [38]:
b.groupby('rloc          ')['act_date           '].count().sort_values(ascending=False)

rloc
ae15bcfc5aec0eb64b2c5204d08201d5    42
fb72a3899ed1cd353c5830388935e7f5    23
cd96f7b7fdb5743769053ba273c7eb5f    20
6b7878dd4ac59772e14ab4760ab45ad0    20
68aee71ee0f40aff44ed341f2c5f8627    16
2a86eac3e29c922f4a439fbc0480985b    15
58ee9c6852513816a39363a1621a0615    14
503d8dde8034a48c262b3f5764fc60ca    14
c9f19404e4f0755c40deaebd6e90ea84    13
182485c12b7e38aa6e2d24f7484c019b    12
cdf795b1e5710dc813c8b1147b427827    12
f3a5185d14eaa5258320bac03c5d9fc0    12
02ab3e3ded19a8cc6eb67c4413debb86    12
b8410227afd9eff71f9ed9c0e7013ddf    12
045e1c73107a2e4a39013d60e9b45aa3    12
a37584d1485cb35991e4ff1a2ba92262    12
f25cef4ed37d1483d0c4c7cfba9758ef    12
b0cd490450b69694ccafe0e08dfd821f    11
bab3d4e3fb3bee5e88340e7c359c6f13    11
2da897a9523b22f3e2cb9cd7099e0639    11
399664d8282d0587ce97c540d17eb06c    11
b0f878b0bbe51626016694032523295b    10
1e891061725828651e3e2943b79c6585    10
49edae7a10b0a8e2b2529ecc45e5dc74    10
45b87519d2fe4e85fd90512876fe9160    10
a27c351c883ed90eee5bbb3d6d7630a0    10
0f39957f4a0e1807569b6b225339be20    10
331057704850c01e06a5b78955e79d54    10
5bcefe9de9ad29279e63acee633b49f2    10
63986e1306ebb0ee132b55eff80c0eb6    10
                                    ..
bf322cb6b4227ad170f2fefe50ae567f     1
34d3d66e42074ff45784be6deb7f16da     1
391038e95fcb12d2b01487fa80be8221     1
397517c7d116951afb8f7f08d709949b     1
3da38478eb52cac1a99dd1503fccb568     1
397a1ee52d4f7103173ea037bbe1ac8a     1
3d8fada706a9ca0260352efc4cdd7f08     1
3d49d38ea5c32fe59e9c13649f9be865     1
3d4187b84e6811b84481f1749772e513     1
b5ddc7527dccb3bdbc1ed449484fbcc5     1
b6011a0abd99d6c15d7d1222f976c17d     1
b6984e611e2ebfcac6b3da2524742b08     1
b74da5328b5a0db04fbfd049627f749a     1
3befbd72a3460408f8a3779a10fadf30     1
b815c93eb58117183b49198ada09c1c1     1
3b8d8cef2e03a151bdb98d5ab41f9f16     1
3b5711205e09a97e515c9cd99b8869bc     1
3b4d27084bfc4c685973cd071a051a37     1
b8e7c1924d0afc38cb2492d0bd43f93a     1
b91be442636902db4abe308f48f04b2c     1
3acd1df32d7e7c1f925efca9868706e2     1
b948604ba2177e3e23935c22abc7f847     1
b94ed12e5e01faf3536ab57974b886db     1
3a7da4866fbb53df2bf0fd932f630006     1
3a25425e33d36b4fb2296f2dbea0f1d9     1
b9efbbff405155837367ef66c1abf91b     1
39dc5cea9a3fc845b090f8331668c497     1
ba365fe0be400727781352f471929845     1
ba480737c4cec15f2c4bb8e9f5a2f745     1
80a2bcbc1770ca3d31657af2cbb1eb3b     1
Name: act_date           , Length: 3638, dtype: int64

In [39]:
b[b['rloc          ']=='fb72a3899ed1cd353c5830388935e7f5'].sort_values('act_date           ', ascending=True)

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,dep_city,dep_ctry,arr_port,arr_city,arr_ctry,lst_port,lst_city,lst_ctry,brd_port,brd_city,brd_ctry,off_port,off_city,off_ctry,mkt_port,mkt_city,mkt_ctry,intl,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
5067,2013-03-01 00:00:00,1V,US,de1198ffef9fa56ba9fe841bac32bce8,60a531d07998240e3a5cbc207c5825e6,fb72a3899ed1cd353c5830388935e7f5,2013-02-25 00:00:00,14364,0,PHX,PHX,US,HKT,HKT,TH,PHX,PHX,US,PHX,PHX,US,HKT,HKT,TH,HKTPHX,HKTPHX,THUS,1,PHXLAXICNHKT,YK,K,Y,2013-08-30 20:00:00,2013-09-01 12:07:46,-2,2013,3,NULL
5068,2013-03-01 00:00:00,1V,US,de1198ffef9fa56ba9fe841bac32bce8,60a531d07998240e3a5cbc207c5825e6,fb72a3899ed1cd353c5830388935e7f5,2013-02-25 00:00:00,14364,0,PHX,PHX,US,HKT,HKT,TH,PHX,PHX,US,HKT,HKT,TH,CNX,CNX,TH,CNXHKT,CNXHKT,THTH,0,HKTCNX,EQ,Y,Y,2013-09-03 13:35:00,2013-09-03 15:46:42,-2,2013,3,NULL
5069,2013-03-01 00:00:00,1V,US,de1198ffef9fa56ba9fe841bac32bce8,60a531d07998240e3a5cbc207c5825e6,fb72a3899ed1cd353c5830388935e7f5,2013-02-25 00:00:00,14364,0,PHX,PHX,US,HKT,HKT,TH,PHX,PHX,US,CNX,CNX,TH,BKK,BKK,TH,BKKCNX,BKKCNX,THTH,0,CNXBKK,EQ,Y,Y,2013-09-05 15:05:00,2013-09-05 16:35:01,-2,2013,3,NULL
5070,2013-03-01 00:00:00,1V,US,de1198ffef9fa56ba9fe841bac32bce8,60a531d07998240e3a5cbc207c5825e6,fb72a3899ed1cd353c5830388935e7f5,2013-02-25 00:00:00,14364,0,PHX,PHX,US,HKT,HKT,TH,PHX,PHX,US,BKK,BKK,TH,ICN,SEL,KR,BKKICN,BKKSEL,KRTH,1,BKKICN,YK,E,Y,2013-09-08 23:40:00,2013-09-09 06:46:43,-2,2013,3,NULL
5071,2013-03-01 00:00:00,1V,US,de1198ffef9fa56ba9fe841bac32bce8,60a531d07998240e3a5cbc207c5825e6,fb72a3899ed1cd353c5830388935e7f5,2013-02-25 00:00:00,14364,0,PHX,PHX,US,HKT,HKT,TH,PHX,PHX,US,ICN,SEL,KR,PHX,PHX,US,ICNPHX,PHXSEL,KRUS,1,ICNLAXPHX,YK,E,Y,2013-09-09 20:20:00,2013-09-09 19:24:55,-2,2013,3,NULL
5072,2013-03-01 00:00:00,1V,US,de1198ffef9fa56ba9fe841bac32bce8,60a531d07998240e3a5cbc207c5825e6,fb72a3899ed1cd353c5830388935e7f5,2013-02-25 00:00:00,13256,0,PHX,PHX,US,HKT,HKT,TH,PHX,PHX,US,PHX,PHX,US,BKK,BKK,TH,BKKPHX,BKKPHX,THUS,1,PHXSFOBKK,FK,K,Y,2013-08-30 07:45:00,2013-08-31 16:57:23,2,2013,3,NULL
5073,2013-03-01 00:00:00,1V,US,de1198ffef9fa56ba9fe841bac32bce8,60a531d07998240e3a5cbc207c5825e6,fb72a3899ed1cd353c5830388935e7f5,2013-02-25 00:00:00,13256,0,PHX,PHX,US,HKT,HKT,TH,PHX,PHX,US,BKK,BKK,TH,HKT,HKT,TH,BKKHKT,BKKHKT,THTH,0,BKKHKT,AQ,L,Y,2013-09-01 08:05:00,2013-09-01 09:40:36,2,2013,3,NULL
5074,2013-03-01 00:00:00,1V,US,de1198ffef9fa56ba9fe841bac32bce8,60a531d07998240e3a5cbc207c5825e6,fb72a3899ed1cd353c5830388935e7f5,2013-02-25 00:00:00,13256,0,PHX,PHX,US,HKT,HKT,TH,PHX,PHX,US,HKT,HKT,TH,BKK,BKK,TH,BKKHKT,BKKHKT,THTH,0,HKTBKK,EQ,Y,Y,2013-09-02 16:25:00,2013-09-02 18:00:36,2,2013,3,NULL
5075,2013-03-01 00:00:00,1V,US,de1198ffef9fa56ba9fe841bac32bce8,60a531d07998240e3a5cbc207c5825e6,fb72a3899ed1cd353c5830388935e7f5,2013-02-25 00:00:00,13256,0,PHX,PHX,US,HKT,HKT,TH,PHX,PHX,US,BKK,BKK,TH,CNX,CNX,TH,BKKCNX,BKKCNX,THTH,0,BKKCNX,EQ,Y,Y,2013-09-05 10:40:00,2013-09-05 12:10:01,2,2013,3,NULL
5236,2013-03-01 00:00:00,1V,US,de1198ffef9fa56ba9fe841bac32bce8,60a531d07998240e3a5cbc207c5825e6,fb72a3899ed1cd353c5830388935e7f5,2013-02-25 00:00:00,13256,0,PHX,PHX,US,HKT,HKT,TH,PHX,PHX,US,CNX,CNX,TH,PHX,PHX,US,CNXPHX,CNXPHX,THUS,1,CNXBKKSFOPHX,FK,L,Y,2013-09-07 19:00:00,2013-09-08 12:41:47,2,2013,3,NULL
5245,2013-03-04 00:00:00,1V,US,de1198ffef9fa56ba9fe841bac32bce8,60a531d07998240e3a5cbc207c5825e6,fb72a3899ed1cd353c5830388935e7f5,2013-02-25 00:00:00,14816,0,PHX,PHX,US,HKT,HKT,TH,PHX,PHX,US,CNX,CNX,TH,PHX,PHX,US,CNXPHX,CNXPHX,THUS,1,CNXBKKSFOPHX,FK,K,Y,2013-09-09 19:20:00,2013-09-10 12:56:47,2,2013,3,NULL
5244,2013-03-04 00:00:00,1V,US,de1198ffef9fa56ba9fe841bac32bce8,60a531d07998240e3a5cbc207c5825e6,fb72a3899ed1cd353c5830388935e7f5,2013-02-25 00:00:00,14816,0,PHX,PHX,US,HKT,HKT,TH,PHX,PHX,US,HKT,HKT,TH,CNX,CNX,TH,CNXHKT,CNXHKT,THTH,0,HKTCNX,EQ,Y,Y,2013-09-06 13:35:00,2013-09-06 15:46:42,2,2013,3,NULL
5243,2013-03-04 00:00:00,1V,US,de1198ffef9fa56ba9fe841bac32bce8,60a531d07998240e3a5cbc207c5825e6,fb72a3899ed1cd353c5830388935e7f5,2013-02-25 00:00:00,14816,0,PHX,PHX,US,HKT,HKT,TH,PHX,PHX,US,BKK,BKK,TH,HKT,HKT,TH,BKKHKT,BKKHKT,THTH,0,BKKHKT,AQ,Y,Y,2013-09-03 13:55:00,2013-09-03 15:30:36,2,2013,3,NULL
5242,2013-03-04 00:00:00,1V,US,de1198ffef9fa56ba9fe841bac32bce8,60a531d07998240e3a5cbc207c5825e6,fb72a3899ed1cd353c5830388935e7f5,2013-02-25 00:00:00,14816,0,PHX,PHX,US,HKT,HKT,TH,PHX,PHX,US,PHX,PHX,US,BKK,BKK,TH,BKKPHX,BKKPHX,THUS,1,PHXSFOBKK,FK,K,Y,2013-08-31 06:00:00,2013-09-01 16:57:23,2,2013,3,NULL
5238,2013-03-04 00:00:00,1V,US,de1198ffef9fa56ba9fe841bac32bce8,60a531d07998240e3a5cbc207c5825e6,fb72a3899ed1cd353c5830388935e7f5,2013-02-25 00:00:00,13256,0,PHX,PHX,US,HKT,HKT,TH,PHX,PHX,US,BKK,BKK,TH,HKT,HKT,TH,BKKHKT,BKKHKT,THTH,0,BKKHKT,AQ,L,Y,2013-09-01 08:05:00,2013-09-01 09:40:36,-2,2013,3,NULL
5240,2013-03-04 00:00:00,1V,US,de1198ffef9fa56ba9fe841bac32bce8,60a531d07998240e3a5cbc207c5825e6,fb72a3899ed1cd353c5830388935e7f5,2013-02-25 00:00:00,13256,0,PHX,PHX,US,HKT,HKT,TH,PHX,PHX,US,BKK,BKK,TH,CNX,CNX,TH,BKKCNX,BKKCNX,THTH,0,BKKCNX,EQ,Y,Y,2013-09-05 10:40:00,2013-09-05 12:10:01,-2,2013,3,NULL
5239,2013-03-04 00:00:00,1V,US,de1198ffef9fa56ba9fe841bac32bce8,60a531d07998240e3a5cbc207c5825e6,fb72a3899ed1cd353c5830388935e7f5,2013-02-25 00:00:00,13256,0,PHX,PHX,US,HKT,HKT,TH,PHX,PHX,US,HKT,HKT,TH,BKK,BKK,TH,BKKHKT,BKKHKT,THTH,0,HKTBKK,EQ,Y,Y,2013-09-02 16:25:00,2013-09-02 18:00:36,-2,2013,3,NULL
5237,2013-03-04 00:00:00,1V,US,de1198ffef9fa56ba9fe841bac32bce8,60a531d07998240e3a5cbc207c5825e6,fb72a3899ed1cd353c5830388935e7f5,2013-02-25 00:00:00,13256,0,PHX,PHX,US,HKT,HKT,TH,PHX,PHX,US,PHX,PHX,US,BKK,BKK,TH,BKKPHX,BKKPHX,THUS,1,PHXSFOBKK,FK,K,Y,2013-08-30 07:45:00,2013-08-31 16:57:23,-2,2013,3,NULL
5241,2013-03-04 00:00:00,1V,US,de1198ffef9fa56ba9fe841bac32bce8,60a531d07998240e3a5cbc207c5825e6,fb72a3899ed1cd353c5830388935e7f5,2013-02-25 00:00:00,13256,0,PHX,PHX,US,HKT,HKT,TH,PHX,PHX,US,CNX,CNX,TH,PHX,PHX,US,CNXPHX,CNXPHX,THUS,1,CNXBKKSFOPHX,FK,L,Y,2013-09-07 19:00:00,2013-09-08 12:41:47,-2,2013,3,NULL
5248,2013-03-05 00:00:00,1V,US,de1198ffef9fa56ba9fe841bac32bce8,60a531d07998240e3a5cbc207c5825e6,fb72a3899ed1cd353c5830388935e7f5,2013-02-25 00:00:00,14816,0,PHX,PHX,US,HKT,HKT,TH,PHX,PHX,US,HKT,HKT,TH,CNX,CNX,TH,CNXHKT,CNXHKT,THTH,0,HKTCNX,EQ,Y,Y,2013-09-06 13:35:00,2013-09-06 15:46:42,-2,2013,3,NULL
5246,2013-03-05 00:00:00,1V,US,de1198ffef9fa56ba9fe841bac32bce8,60a531d07998240e3a5cbc207c5825e6,fb72a3899ed1cd353c5830388935e7f5,2013-02-25 00:00:00,14816,0,PHX,PHX,US,HKT,HKT,TH,PHX,PHX,US,PHX,PHX,US,BKK,BKK,TH,BKKPHX,BKKPHX,THUS,1,PHXSFOBKK,FK,K,Y,2013-08-31 06:00:00,2013-09-01 16:57:23,-2,2013,3,NULL
5247,2013-03-05 00:00:00,1V,US,de1198ffef9fa56ba9fe841bac32bce8,60a531d07998240e3a5cbc207c5825e6,fb72a3899ed1cd353c5830388935e7f5,2013-02-25 00:00:00,14816,0,PHX,PHX,US,HKT,HKT,TH,PHX,PHX,US,BKK,BKK,TH,HKT,HKT,TH,BKKHKT,BKKHKT,THTH,0,BKKHKT,AQ,Y,Y,2013-09-03 13:55:00,2013-09-03 15:30:36,-2,2013,3,NULL
5249,2013-03-05 00:00:00,1V,US,de1198ffef9fa56ba9fe841bac32bce8,60a531d07998240e3a5cbc207c5825e6,fb72a3899ed1cd353c5830388935e7f5,2013-02-25 00:00:00,14816,0,PHX,PHX,US,HKT,HKT,TH,PHX,PHX,US,CNX,CNX,TH,PHX,PHX,US,CNXPHX,CNXPHX,THUS,1,CNXBKKSFOPHX,FK,K,Y,2013-09-09 19:20:00,2013-09-10 12:56:47,-2,2013,3,NULL

In [40]:
b.describe(include='all')

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,dep_city,dep_ctry,arr_port,arr_city,arr_ctry,lst_port,lst_city,lst_ctry,brd_port,brd_city,brd_ctry,off_port,off_city,off_ctry,mkt_port,mkt_city,mkt_ctry,intl,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
count,9999,9999,9999,9999,9999,9999,9999,9999.000000,9999.000000,9999,9999,9999,9999,9999,9999,9999,9999,9999,9999,9999,9999,9999,9999,9999,9999,9999,9999,9999.000000,9999,9999,9999,9999,9999,9999,9999.000000,9999.0,9999.0,9999
unique,31,5,112,2089,2271,3638,140,NaN,NaN,581,554,127,663,634,152,581,550,126,770,732,162,781,744,162,3395,3223,926,NaN,6079,179,27,4,6416,7218,NaN,NaN,NaN,389
top,2013-03-12 00:00:00,1A,US,83ccf07a55606976f78e63fcc805f58c,1490c3c5f95f04fa076fe15c775a80a9,ae15bcfc5aec0eb64b2c5204d08201d5,2013-03-12 00:00:00,NaN,NaN,LAX,NYC,US,LHR,NYC,US,LAX,NYC,US,LAX,NYC,US,LAX,NYC,US,JEDKHI,JEDKHI,USUS,NaN,KHIJED,NV,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,NaN,NaN,NaN,NULL
freq,768,3200,4839,435,435,42,1018,NaN,NaN,273,507,4600,212,391,3738,281,502,4559,228,435,4118,247,460,4170,52,52,3074,NaN,26,1354,851,8979,21,21,NaN,NaN,NaN,8427
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20209.746075,455.608861,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.596260,NaN,NaN,NaN,NaN,NaN,NaN,0.516152,2013.0,3.0,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42243.233482,1738.891068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.490671,NaN,NaN,NaN,NaN,NaN,NaN,1.783970,0.0,0.0,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,-25.000000,2013.0,3.0,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3339.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,-1.000000,2013.0,3.0,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7721.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,2013.0,3.0,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19077.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,2013.0,3.0,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,488131.000000,18481.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,25.000000,2013.0,3.0,NaN

In [41]:
b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 38 columns):
act_date               9999 non-null object
source                 9999 non-null object
pos_ctry               9999 non-null object
pos_iata               9999 non-null object
pos_oid                9999 non-null object
rloc                   9999 non-null object
cre_date               9999 non-null object
duration               9999 non-null int64
distance               9999 non-null int64
dep_port               9999 non-null object
dep_city               9999 non-null object
dep_ctry               9999 non-null object
arr_port               9999 non-null object
arr_city               9999 non-null object
arr_ctry               9999 non-null object
lst_port               9999 non-null object
lst_city               9999 non-null object
lst_ctry               9999 non-null object
brd_port               9999 non-null object
brd_city               9999 non-null object
brd_ctry               9999 non-null object
off_port               9999 non-null object
off_city               9999 non-null object
off_ctry               9999 non-null object
mkt_port               9999 non-null object
mkt_city               9999 non-null object
mkt_ctry               9999 non-null object
intl                   9999 non-null int64
route                  9999 non-null object
carrier                9999 non-null object
bkg_class              9999 non-null object
cab_class              9999 non-null object
brd_time               9999 non-null object
off_time               9999 non-null object
pax                    9999 non-null int64
year                   9999 non-null int64
month                  9999 non-null int64
oid                    9999 non-null object
dtypes: int64(6), object(32)
memory usage: 2.9+ MB

In [43]:
b.isnull().sum()

act_date               0
source                 0
pos_ctry               0
pos_iata               0
pos_oid                0
rloc                   0
cre_date               0
duration               0
distance               0
dep_port               0
dep_city               0
dep_ctry               0
arr_port               0
arr_city               0
arr_ctry               0
lst_port               0
lst_city               0
lst_ctry               0
brd_port               0
brd_city               0
brd_ctry               0
off_port               0
off_city               0
off_ctry               0
mkt_port               0
mkt_city               0
mkt_ctry               0
intl                   0
route                  0
carrier                0
bkg_class              0
cab_class              0
brd_time               0
off_time               0
pax                    0
year                   0
month                  0
oid                    0
dtype: int64

In [39]:
# Select columns of interest

In [45]:
import pandas as pd
pd.set_option('display.max_columns', None)

b = pd.read_csv('data/bookings.sample.csv.bz2', sep='^', usecols=['arr_port', 'year', 'pax'])
b = b.dropna()

In [46]:
b.shape

(9999, 3)

In [47]:
b.head()

   arr_port  pax  year
0  LHR        -1  2013
1  CLT         1  2013
2  CLT         1  2013
3  SVO         1  2013
4  SVO         1  2013

In [48]:
b_gr = b[ b['year']==2013 ].groupby('arr_port').sum().sort_values('pax', ascending=False)

In [49]:
b_gr.head()

          pax    year
arr_port
HKG       112  245586
LGA        95  301950
ORD        94  352275
JFK        92  352275
LAX        91  406626

In [50]:
b_gr.reset_index().head(10)

   arr_port  pax    year
0  HKG       112  245586
1  LGA        95  301950
2  ORD        94  352275
3  JFK        92  352275
4  LAX        91  406626
5  SFO        91  314028
6  MCO        90  243573
7  DCA        82  177144
8  DEN        79  179157
9  LHR        76  426756

In [63]:
# Trabajar por chunks

In [52]:
import pandas as pd
pd.set_option('display.max_columns', None)

b = pd.read_csv('data/bookings.csv.bz2', sep='^', usecols=['arr_port', 'year', 'pax'], nrows=9999)
b = b.dropna()
b = b[ b['year']==2013]    #vemos que todas las filas son del year 2013
del b['year']
b_gr = b.groupby('arr_port').sum().sort_values('pax', ascending=False)
b_gr.reset_index(inplace=True)
b_gr.head(10)

   arr_port  pax
0  HKG       112
1  LGA        95
2  ORD        94
3  JFK        92
4  LAX        91
5  SFO        91
6  MCO        90
7  DCA        82
8  DEN        79
9  LHR        76

In [54]:
bi = pd.read_csv('data/bookings.csv.bz2', sep='^', usecols=['arr_port', 'year', 'pax'], nrows=9999, iterator=True)

In [55]:
type(bi)

pandas.io.parsers.TextFileReader

In [56]:
b1 = bi.get_chunk(6000)

In [57]:
type(b1)

pandas.core.frame.DataFrame

In [58]:
b1.head()

   arr_port  pax  year
0  LHR        -1  2013
1  CLT         1  2013
2  CLT         1  2013
3  SVO         1  2013
4  SVO         1  2013

In [59]:
b2 = bi.get_chunk(3000)

In [60]:
b2.head()

      arr_port  pax  year
6000  BOS         1  2013
6001  BOS        -1  2013
6002  BOS        -1  2013
6003  BOS         1  2013
6004  PHX         1  2013

In [62]:
bi = pd.read_csv('data/bookings.csv.bz2', sep='^', usecols=['arr_port', 'year', 'pax'], nrows=9999, chunksize=3000)

In [63]:
for i, b in enumerate(bi):
    print(i)
    print(len(b))

0
3000
1
3000
2
3000
3
999

In [65]:
bi = pd.read_csv('data/bookings.csv.bz2', sep='^', usecols=['arr_port', 'year', 'pax'], nrows=9999, chunksize=3000)
for i, b in enumerate(bi):
    print(i)
    print(len(b))

0
3000
1
3000
2
3000
3
999

In [67]:
bi = pd.read_csv('data/bookings.csv.bz2', sep='^', usecols=['arr_port', 'year', 'pax'], nrows=9999, chunksize=3000)
all_chunks = pd.DataFrame()
for i, b in enumerate(bi):
    print(i)
    b = b.dropna()
    b = b[ b['year']==2013]    #vemos que todas las filas son del year 2013
    del b['year']
    b_gr = b.groupby('arr_port').sum().sort_values('pax', ascending=False)
    b_gr.reset_index(inplace=True)
    
    all_chunks = all_chunks.append(b_gr)

all_result = all_chunks.groupby('arr_port').sum().sort_values('pax', ascending=False).reset_index()

0
1
2
3

In [68]:
all_chunks.shape

(1344, 2)

In [69]:
all_result.shape

(663, 2)

In [70]:
all_result.head(10)

   arr_port  pax
0  HKG       112
1  LGA        95
2  ORD        94
3  JFK        92
4  LAX        91
5  SFO        91
6  MCO        90
7  DCA        82
8  DEN        79
9  LHR        76

In [71]:
#Una vez que funciona, lo lanzamos sobre el fichero total

In [72]:
%%time
bi = pd.read_csv('data/bookings.csv.bz2', sep='^', usecols=['arr_port', 'year', 'pax'], chunksize=1000000)
all_chunks = pd.DataFrame()
for i, b in enumerate(bi):
    print(i)
    b = b.dropna()
    b = b[ b['year']==2013]    #vemos que todas las filas son del year 2013
    del b['year']
    b_gr = b.groupby('arr_port').sum().sort_values('pax', ascending=False)
    b_gr.reset_index(inplace=True)
    
    all_chunks = all_chunks.append(b_gr)

all_result = all_chunks.groupby('arr_port').sum().sort_values('pax', ascending=False).reset_index()

0
1
2
3
4
5
6
7
8
9
10
CPU times: user 4min, sys: 28.1 s, total: 4min 28s
Wall time: 4min 37s

In [75]:
! pip install Neobase

Collecting Neobase
  Downloading https://files.pythonhosted.org/packages/d8/f2/0ca4a5818f8271f7c6d59bb336c28db931e22b51330947983be86ba4ea12/NeoBase-0.20.2.tar.gz (3.2MB)
    100% |████████████████████████████████| 3.2MB 7.3MB/s
Collecting argparse (from Neobase)
  Downloading https://files.pythonhosted.org/packages/f2/94/3af39d34be01a24a6e65433d19e107099374224905f1e0cc6bbe1fd22a2f/argparse-1.4.0-py2.py3-none-any.whl
Building wheels for collected packages: Neobase
  Running setup.py bdist_wheel for Neobase ... done
  Stored in directory: /home/dsc/.cache/pip/wheels/f2/e0/a1/798ba3be3b5e9d00394376068d895114f574c06f6954dafc59
Successfully built Neobase
Installing collected packages: argparse, Neobase
Successfully installed Neobase-0.20.2 argparse-1.4.0

In [76]:
import neobase as nb

In [77]:
from neobase import NeoBase

In [78]:
geoDict = NeoBase()

In [79]:
type(geoDict)

neobase.neobase.NeoBase

In [80]:
geoDict.get('LHR')

{'__dup__': set(),
 'iata_code': 'LHR',
 'name': 'London Heathrow Airport',
 'lat': '51.4775',
 'lng': '-0.461389',
 'page_rank': 0.44517643489228376,
 'country_code': 'GB',
 'country_name': 'United Kingdom',
 'continent_name': 'Europe',
 'timezone': 'Europe/London',
 'city_code_list': ['LON'],
 'city_name_list': ['London'],
 'location_type': ['A'],
 'currency': 'GBP'}

In [81]:
type(geoDict.get('LHR'))

dict

In [82]:
geoDict.get('LHR')['name']

'London Heathrow Airport'

In [83]:
all_result.head()

   arr_port      pax
0  LHR       88809.0
1  MCO       70930.0
2  LAX       70530.0
3  LAS       69630.0
4  JFK       66270.0

In [84]:
all_result['arr_port'][0]   #vemos que hay espacios!!

'LHR     '

In [85]:
all_result['arr_port'][0].strip()

'LHR'

In [86]:
all_result['arr_port'] = all_result['arr_port'].str.strip()

In [87]:
all_result['AirportName'] = all_result['arr_port'].map(lambda x: geoDict.get(x)['name'])

KeyError: 'Key not found: CPQ'

In [88]:
all_result[ all_result['arr_port']=='CPQ' ]

     arr_port   pax
2257      CPQ -20.0

In [89]:
all_result = all_result[ all_result['arr_port']!='CPQ' ]

In [90]:
all_result[ all_result['arr_port']=='CPQ' ]

Empty DataFrame
Columns: [arr_port, pax]
Index: []

In [91]:
all_result['AirportName'] = all_result['arr_port'].map(lambda x: geoDict.get(x)['name'])

In [92]:
all_result.head(10)

  arr_port      pax                            AirportName
0      LHR  88809.0                London Heathrow Airport
1      MCO  70930.0          Orlando International Airport
2      LAX  70530.0      Los Angeles International Airport
3      LAS  69630.0         McCarran International Airport
4      JFK  66270.0  John F. Kennedy International Airport
5      CDG  64490.0        Paris Charles de Gaulle Airport
6      BKK  59460.0                   Suvarnabhumi Airport
7      MIA  58150.0            Miami International Airport
8      SFO  58000.0    San Francisco International Airport
9      DXB  55590.0            Dubai International Airport

In [93]:
all_result = all_result.astype({'pax':int})

In [94]:
all_result.head(10)

  arr_port    pax                            AirportName
0      LHR  88809                London Heathrow Airport
1      MCO  70930          Orlando International Airport
2      LAX  70530      Los Angeles International Airport
3      LAS  69630         McCarran International Airport
4      JFK  66270  John F. Kennedy International Airport
5      CDG  64490        Paris Charles de Gaulle Airport
6      BKK  59460                   Suvarnabhumi Airport
7      MIA  58150            Miami International Airport
8      SFO  58000    San Francisco International Airport
9      DXB  55590            Dubai International Airport

In [95]:
all_result.shape

(2273, 3)

In [99]:
all_result.to_csv('data/top_airports.csv', sep='^', index=False)

In [100]:
! head -3 top_airports.csv

arr_port^pax^AirportName
LHR^88809^London Heathrow Airport
MCO^70930^Orlando International Airport

# 5) Write a web service

In [160]:
from flask import Flask

In [162]:
app = Flask('My first web service')
@app.route('/hello', methods=['GET'])
def get_hello():
    return 'Hello DS from thr service!'

In [163]:
app.run()

 * Serving Flask app "My first web service" (lazy loading)
 * Environment: production
   WARNING: Do not use the development server in a production environment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [25/Jan/2020 13:52:18] "GET / HTTP/1.1" 404 -
127.0.0.1 - - [25/Jan/2020 13:52:18] "GET /favicon.ico HTTP/1.1" 404 -
127.0.0.1 - - [25/Jan/2020 13:53:32] "GET /hello HTTP/1.1" 200 -

In [166]:
app = Flask('My first web service')
@app.route('/hello', methods=['GET'])
def get_hello():
    return 'Hello DS from thr service!'

@app.route('/ret_number', methods=['GET'])
def get_number():
    return 'expecting a number'

In [167]:
app.run()

 * Serving Flask app "My first web service" (lazy loading)
 * Environment: production
   WARNING: Do not use the development server in a production environment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [25/Jan/2020 13:58:11] "GET /ret_number HTTP/1.1" 200 -

In [168]:
app = Flask('My first web service')
@app.route('/hello', methods=['GET'])
def get_hello():
    return 'Hello DS from thr service!'

@app.route('/ret_number/<int:n>', methods=['GET'])
def get_number(n):
    return 'I got %d'%n

In [169]:
app.run()

 * Serving Flask app "My first web service" (lazy loading)
 * Environment: production
   WARNING: Do not use the development server in a production environment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [25/Jan/2020 13:59:45] "GET /ret_number HTTP/1.1" 404 -
127.0.0.1 - - [25/Jan/2020 13:59:50] "GET /ret_number/5 HTTP/1.1" 200 -
127.0.0.1 - - [25/Jan/2020 13:59:57] "GET /ret_number/7 HTTP/1.1" 200 -
127.0.0.1 - - [25/Jan/2020 14:02:12] "GET /ret_number/100 HTTP/1.1" 200 -