# Web service

In [1]:
import pandas as pd

In [2]:
df = pd.read_json('http://127.0.0.1:5000/ret_number/100')

In [3]:
df.head()

   arr_port    pax                           AirportName
0       LHR  88809               London Heathrow Airport
1       MCO  70930         Orlando International Airport
10      ORD  53200  Chicago O'Hare International Airport
11      FCO  45120   Leonardo da Vinci–Fiumicino Airport
12      IST  43850                      Istanbul Airport